body {
    margin: 0;
    padding: 0;
    color: rgb(142, 142, 167);
    background-color: #353b47;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}



footer {
    background-color: #212529;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

hr {
    margin-bottom: 25px;
}

.main {
    margin: 50px;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    position: relative;

}

.container {
    background-color: #3b4150;
    margin-top: 50px;
}

.portrait {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
}